<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>18/01/10 17:08:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCategories.beforeTest()[pri:0, instance:com.dmssw.singer.TestCategories@7ca48474]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>18/01/10 17:08:57</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCategories.testGetCategories()[pri:0, instance:com.dmssw.singer.TestCategories@7ca48474]">testGetCategories</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>18/01/10 17:08:57</td>   <td>190</td> <td>&nbsp;</td><td title="&lt;&lt;TestCategories.afterTest()[pri:0, instance:com.dmssw.singer.TestCategories@7ca48474]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
</table>
